In [2]:
import pandas as pa
arbres = pa.read_csv("./p2-arbres-fr.csv", sep=";")

# [Cleaning Big Data: Most Time-Consuming, Least Enjoyable Data Science Task, Survey Says](https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/?sh=271dee696f63)

<img style="display: flex;" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgilpress%2Ffiles%2F2016%2F03%2FTime-1200x511.jpg" alt="Time" width="auto" margin="200">

Sur [Wikipedia](https://fr.wikipedia.org/wiki/Nettoyage_de_donn%C3%A9es) nous trouvons un ensemble de definition et de solution
parmis les erreurs :
    syntaxe
        lexicale
        formatage
        irrégularité
    sémantique
        Violation des contraintes d'intégrité
        contradiction
        duplication
        donnée invalide
    couverture
        valeur manquante
        donnée manquante

les Methodes :
    parsing (regex)
    transformation de donnée
    renforcement de contraintes d'integrité
    statistique
    crowdsourcing

les solutions :
    Potter's wheel
    AJAX
    IntelliClean
    FraQl
    ARKTOS
    KATARA

# Premiere commande
## la taille de notre DataFrame
la fonction shape de numpy nous retourne un tuple equivalent de la fonction len(), mais nous retourne en plus les nb de colonne

In [3]:
arbres.shape

(200137, 18)

## Description et affichage des en-tetes
Pour une première approche on utilise deux fonctions de Pandas [head()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html?highlight=head#pandas.DataFrame.head) et [describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html?highlight=describe#pandas.DataFrame.describe).
La fonction describe() va pourvoir nous donner une indication au-delà des statistiques, des colonnes vides ou encore grace a max de certaines valeurs aberrantes

In [4]:
arbres.head(5)

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289

In [5]:
arbres.describe()

,id,numero,circonference_cm,hauteur_m,remarquable,geo_point_2d_a,geo_point_2d_b
count,2.001370e+05,0.0,200137.000000,200137.000000,137039.000000,200137.000000,200137.000000
mean,3.872027e+05,NaN,83.380479,13.110509,0.001343,48.854491,2.348208
std,5.456032e+05,NaN,673.190213,1971.217387,0.036618,0.030234,0.051220
min,9.987400e+04,NaN,0.000000,0.000000,0.000000,48.742290,2.210241
25%,1.559270e+05,NaN,30.000000,5.000000,0.000000,48.835021,2.307530
50%,2.210780e+05,NaN,70.000000,8.000000,0.000000,48.854162,2.351095
75%,2.741020e+05,NaN,115.000000,12.000000,0.000000,48.876447,2.386838
max,2.024745e+06,NaN,250255.000000,881818.000000,1.000000,48.911485,2.469759

## Recherche et somme des valeurs manquante du DataFrame dans chaque colonne
L'utilisation de la fonction [pandas.DataFrame.isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html) ou [pandas.DataFrame.isnull](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html), nous retourne un tableau de valeurs booléennes de même taille, oû chaque cellule
est testée et s'il y a bien une donnée présente.

In [6]:
arbres.isnull().sum()

id                          0
type_emplacement            0
domanialite                 1
arrondissement              0
complement_addresse    169235
numero                 200137
lieu                        0
id_emplacement              0
libelle_francais         1497
genre                      16
espece                   1752
variete                163360
circonference_cm            0
hauteur_m                   0
stade_developpement     67205
remarquable             63098
geo_point_2d_a              0
geo_point_2d_b              0
dtype: int64

In [7]:
arbres.domanialite.unique()

array(['Jardin', 'Alignement', 'DJS', 'DFPE', 'CIMETIERE', 'DASCO', 'DAC',
       'PERIPHERIQUE', 'DASES', nan], dtype=object)

Dans l'exemple ci-dessous, on peut constater que la valeur de la 'dominialite' manquante est renseigné dans le lieu, qui fait partie des valeurs possibles de la colonne

In [8]:
arbres[arbres.domanialite.isna()]

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
197239,2020911,Arbre,NaN,PARIS 20E ARRDT,NaN,NaN,JARDINS D IMMEUBLES PORTE DE VINCENNES NORD / ...,203006,Chimonanthe,Chimonanthus,praecox,NaN,35,4,JA,0.0,48.849547,2.41419

In [9]:
arbres.where(arbres.domanialite=='Jardin').count()

id                     46262
type_emplacement       46262
domanialite            46262
arrondissement         46262
complement_addresse     1199
numero                     0
lieu                   46262
id_emplacement         46262
libelle_francais       45886
genre                  46246
espece                 45796
variete                 7402
circonference_cm       46262
hauteur_m              46262
stade_developpement    15798
remarquable            21326
geo_point_2d_a         46262
geo_point_2d_b         46262
dtype: int64

In [10]:
arbres.fillna("Jardin", axis=1, inplace=True, limit=1 )

In [11]:
arbres.where(arbres.domanialite=='Jardin').count()

id                     46263
type_emplacement       46263
domanialite            46263
arrondissement         46263
complement_addresse     1200
numero                     1
lieu                   46263
id_emplacement         46263
libelle_francais       45888
genre                  46248
espece                 45798
variete                 7403
circonference_cm       46263
hauteur_m              46263
stade_developpement    15800
remarquable            21328
geo_point_2d_a         46263
geo_point_2d_b         46263
dtype: int64

In [12]:
arbres.domanialite.unique()

array(['Jardin', 'Alignement', 'DJS', 'DFPE', 'CIMETIERE', 'DASCO', 'DAC',
       'PERIPHERIQUE', 'DASES'], dtype=object)

Recherche de doublons l'utilisation de la geo-localisation peut-être un bon critère, car en un point precis ne peut avoir théoriquement qu'un seul arbre

In [13]:
geo_a = pa.DataFrame(arbres.geo_point_2d_a)
geo_b = pa.DataFrame(arbres.geo_point_2d_b)
coordonnees = geo_a.join(geo_b)
coordonnees_dupliquees = coordonnees.duplicated()
coordonnees_dupliquees.sum()

11

In [14]:
arbres[coordonnees_dupliquees]

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
10100,112287,Arbre,Jardin,PARIS 12E ARRDT,NaN,NaN,JARDIN PARTAGE BEL-AIR,6,Ailante,Ailanthus,altissima,NaN,0,0,NaN,NaN,48.838318,2.406610
76385,195525,Arbre,PERIPHERIQUE,PARIS 19E ARRDT,NaN,NaN,VOIE DF/19,09VO19001,Peuplier,Populus,nigra,Italica',120,20,NaN,NaN,48.900332,2.386441
76386,195526,Arbre,PERIPHERIQUE,PARIS 19E ARRDT,NaN,NaN,VOIE DF/19,09VO19002,Peuplier,Populus,nigra,Italica',100,20,NaN,NaN,48.900290,2.386442
76387,195527,Arbre,PERIPHERIQUE,PARIS 19E ARRDT,NaN,NaN,VOIE DF/19,09VO19003,Peuplier,Populus,nigra,Italica',165,20,NaN,NaN,48.900253,2.386444
185480,2006188,Arbre,Alignement,BOIS DE VINCENNES,NaN,NaN,ROUTE DAUPHINE,402030,Tilleul,Tilia,platyphyllos,NaN,0,0,NaN,0.0,48.829912,2.439665
188304,2010609,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,20023,Platane,Platanus,x hispanica,NaN,190,24,A,0.0,48.839118,2.438810
189134,2011523,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,190042,Peuplier,Populus,nigra,Italica',100,22,A,0.0,48.836416,2.446277
193017,2015806,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,3120005,Pin,Pinus,nigra,NaN,0,0,NaN,0.0,48.839561,2.446210
193577,2016369,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,210035,Pommier à fleurs,Malus,trilobata,NaN,0,0,NaN,0.0,48.836862,2.446518
193586,2016378,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,20128,Cèdre,Cedrus,libani subsp. atlantica,NaN,0,0,NaN,0.0,48.838550,2.439268
193587,2016379,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,20129,Cèdre,Cedrus,libani subsp. atlantica,NaN,0,0,NaN,0.0,48.838539,2.439350

Pour supprimer les doublons panda propose la methode [drop_duplicate()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html#pandas.DataFrame.drop_duplicates) et dans le cas ci-dessous la dernière instance est conservée.

In [15]:
arbres_cp = arbres.drop_duplicates(subset=['geo_point_2d_a','geo_point_2d_b'],keep='last').copy()
arbres_cp

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,Jardin,Jardin,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,Jardin,20,5,Jardin,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,Jardin,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200132,2024741,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170151,NaN,Castanea,fargesii,NaN,0,0,NaN,0.0,48.821957,2.456264
200133,2024742,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170152,Arbre aux mouchoirs,Davidia,involucrata,NaN,0,0,NaN,0.0,48.823254,2.457935
200134,2024743,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170153,Peuplier,Populus,simonii,NaN,0,0,NaN,0.0,48.822907,2.457970
200135,2024744,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170154,Chêne,Quercus,n. sp.,NaN,0,0,NaN,0.0,48.822522,2.455956
200136,2024745,Arbre,Jardin,BOIS DE VINCENNES,NaN,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170155,Raisinier,Hovenia,dulcis,NaN,0,0,NaN,0.0,48.820445,2.454856

cellule manquante genre,espece.
dans le cas de la colonne genre nous constatons qu'aucunes données de taille, circonférence et d'identification sont renseignées.

In [68]:
arbres_cp[arbres_cp.lieu=="PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUPLIERS / 62 RUE DAMESME"]
arbres_cp_genre_na = arbres_cp.where(arbres_cp.genre.isnull()).dropna(subset=['lieu'])
arbres_cp_drop_genre_na= arbres_cp.drop(index=list(arbres_cp_genre_na.index)).copy()
arbres_cp_drop_genre_na.isnull().sum()
arbres_cp_genre_na

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
195409,2018853.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104005,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821259,2.354242
195410,2018854.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104006,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821229,2.354212
195475,2018919.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104030,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821281,2.353322
195476,2018920.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104031,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821289,2.353228
195487,2018932.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,105006,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821294,2.352001
195496,2018942.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,105017,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821292,2.351425
195497,2018943.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,105019,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821260,2.351363
195499,2018945.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,105022,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821261,2.351296
195502,2018948.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,105025,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821283,2.351094
195503,2018949.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,106001,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821401,2.350885
195505,2018951.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,106003,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821404,2.351217
195509,2018955.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104009,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821259,2.354079
195514,2018960.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104019,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821310,2.353883
195518,2018964.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104023,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821298,2.353718
195519,2018965.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,PC13 - JARDIN DE LA RUE DE LA POTERNE DES PEUP...,104025,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,48.821305,2.353505

In [67]:
arbres_cp_espece_na = arbres_cp_drop_genre_na.where(arbres_cp.espece.isnull())
arbres_cp_espece_na.dropna(subset=['lieu'])

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
2323,102582.0,Arbre,Jardin,PARIS 16E ARRDT,82 à 90,NaN,JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH,408032,Cornouiller,Cornus,NaN,Eddie's White Wonder',25.0,3.0,JA,0.0,48.872087,2.277040
2733,103215.0,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000B0167,Cerisier à fleurs,Prunus,NaN,Accolade',32.0,0.0,NaN,NaN,48.890072,2.316124
2742,103224.0,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000B0188,Cerisier à fleurs,Prunus,NaN,Accolade',60.0,0.0,NaN,NaN,48.890239,2.315838
3944,104827.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,SQUARE RENE LE GALL,10255,Pommier à fleurs,Malus,NaN,Golden Hornet',40.0,4.0,NaN,NaN,48.832854,2.350704
6946,108516.0,Arbre,Jardin,PARIS 16E ARRDT,79,NaN,JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH,309018,Orme,Ulmus,NaN,Sapporo Autumn Gold' RESISTA,120.0,12.0,A,0.0,48.871752,2.277867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198681,2022754.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,BOULEVARD DE BELLEVILLE,101001,Orme,Ulmus,NaN,Nanguen' LUTECE,35.0,7.0,NaN,0.0,48.867032,2.382681
198770,2023014.0,Arbre,Jardin,PARIS 4E ARRDT,NaN,NaN,SQUARE DE LA TOUR SAINT JACQUES / 1 BIS RUE SA...,101002,NaN,Acer,NaN,NaN,20.0,5.0,NaN,0.0,48.857891,2.349423
198779,2023023.0,Arbre,Jardin,PARIS 4E ARRDT,NaN,NaN,SQUARE DE LA TOUR SAINT JACQUES / 1 BIS RUE SA...,103002,NaN,Acer,NaN,NaN,20.0,5.0,NaN,0.0,48.857907,2.348225
198784,2023029.0,Arbre,Alignement,PARIS 1ER ARRDT,NaN,NaN,PORT DES TUILERIES,101044,NaN,Pyrus,NaN,NaN,20.0,5.0,NaN,0.0,48.862171,2.325637
198785,2023030.0,Arbre,Alignement,PARIS 1ER ARRDT,NaN,NaN,PORT DES TUILERIES,101047,NaN,Non spécifié,NaN,NaN,20.0,5.0,NaN,0.0,48.862258,2.325389

Pour la colonnes numéros, qui est quasi pas renseigné (1 ligne et avec une valeur d'erronée), devrait être supprimé.

In [73]:
arbres_cp_drop_genre_na.dropna(subset=['complement_addresse'])
arbres_cp_drop_genre_na.dropna(subset=['numero'])
arbres_cp_drop_genre_na_numero = arbres_cp_drop_genre_na.drop(columns=['numero'])
arbres_cp_drop_genre_na_numero

,id,type_emplacement,domanialite,arrondissement,complement_addresse,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,Jardin,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,Jardin,20,5,Jardin,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,Jardin,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200132,2024741,Arbre,Jardin,BOIS DE VINCENNES,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170151,NaN,Castanea,fargesii,NaN,0,0,NaN,0.0,48.821957,2.456264
200133,2024742,Arbre,Jardin,BOIS DE VINCENNES,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170152,Arbre aux mouchoirs,Davidia,involucrata,NaN,0,0,NaN,0.0,48.823254,2.457935
200134,2024743,Arbre,Jardin,BOIS DE VINCENNES,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170153,Peuplier,Populus,simonii,NaN,0,0,NaN,0.0,48.822907,2.457970
200135,2024744,Arbre,Jardin,BOIS DE VINCENNES,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170154,Chêne,Quercus,n. sp.,NaN,0,0,NaN,0.0,48.822522,2.455956
200136,2024745,Arbre,Jardin,BOIS DE VINCENNES,NaN,ARBORETUM DE L ECOLE DU BREUIL - ROUTE DE LA F...,720170155,Raisinier,Hovenia,dulcis,NaN,0,0,NaN,0.0,48.820445,2.454856

Les aberrations ou erreurs d'unité vont demander beaucoup plus de travail face à l'empirisme de la tache, certaines mesures sont évidentes, mais l'utilisation d'outils comme [OpenRefine](https://openrefine.org/) ou encore des graphiques permettant de voir les outlier comme les boites à moustaches, seraient utiles.
Il serait possible de coder un programme qui pourrait en fonction du taux d'erreur de convertir certaines saisies dans la bonne unitée.
par exemple si on se [renseigne](https://www.unjourdeplusaparis.com/paris-vert/arbres-remarquables-paris), on peut définir certaine limite.

In [74]:
hauteur = pa.DataFrame(arbres_cp_drop_genre_na_numero.hauteur_m)
circonference =  pa.DataFrame(arbres_cp_drop_genre_na_numero.circonference_cm)
hauteur.where(hauteur > 46).dropna().count()
dimmension =  hauteur.where(hauteur>46).dropna().join(circonference.where(circonference>695).dropna())
dimmension.count()
# taux_er_dim = dimmension.count()/len(arbres)*100
# taux_er_dim
arbres_data_clean = hauteur.where(hauteur<=46).dropna().join(circonference.where(circonference<=695).dropna())
arbres_data_clean.shape

(199652, 2)